<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | Music Transfer</title>
</head>

<body>

  <p style="color: red">{{ .Error }}</p>

  {{ if not .PlaylistID }}
  <form action="/" method="POST">
    <input type="text" name="playlistID" placeholder="playlistID">
    <input type="submit">
  </form>
  {{ end }}

  {{ range $val := .Playlist.Items }}
  <h2>{{ $val.Title }}</h2>
  <img src={{ $val.ThumbnailURL }} alt="" />
  {{ end }}

</body>

</html>
